@model AtiFlight.Models.AirPlane

@{
    ViewData["Title"] = "AddPlane";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="d-flex flex-column align-items-center justify-content-center m-4 ">
    <div class="row custom-card w-50 p-4">
        <div class="col-md-6">
            <form asp-action="AddPlane">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="AirPlaneName" class="form-label">Uçak Modeli</label>
                    <input asp-for="AirPlaneName" class="form-control" placeholder="Model giriniz" />
                    <span asp-validation-for="AirPlaneName" class="text-danger"></span>
                </div>

                <div >
                    <button type="submit" class="btn btn-success ">Onayla</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>



    @await Component.InvokeAsync("AirPlaneList")
</div>
