@model FlyRoute

@if (ViewBag.SameValue != null)
{


    <span style="color: red;">@ViewBag.SameValue</span>


}
@if(ViewBag.Failed!=null)
{
    

    <span style="color: red;">@ViewBag.Failed</span>


}
@if(ViewBag.Success!=null)
{


    <span style="color: green;">@ViewBag.Success</span>

}

<form asp-action="AddRoute" method="post">
    <label>Nereden</label>
    <select asp-for="StartID" asp-items="ViewBag.illerStartList">
    
    </select>

    <label>Nereye</label>
    <select asp-for="EndID" asp-items="ViewBag.illerEndList">
       
        

    </select>





<button type="submit" class="btn-primary btn" >Yeni Rota Ekle</button>
</form>




<div>

    @await Component.InvokeAsync("RouteList")


</div>