@model IEnumerable<AirPlane>
@{






}



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Air Plane</th>
            <th> Uçak ismi</th>


            <th> Aktif Uçuş</th>
            <th>Durum</th>
          
        </tr>




    </thead>
    <tbody>




        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AirPlaneID</td>
                <td>
                    @item.AirPlaneName

                </td>

                <td>

                    @if (item.Flight?.FlyRoute?.End != null && item.Flight?.FlyRoute?.Start!=null)
                    {
                        <p>@item.Flight.FlyRoute.Start.Name-@item.Flight.FlyRoute.End.Name</p>
                    }
               



                </td>
                @if(item.isAvailable)
                {

                    <td>

                        <p>Aktif</p>


                    </td>

                }
                else
                {


                    <td>

                        <p>Pasif</p>


                    </td>

                 



                }

            </tr>

    

        }














    </tbody>








</table>
