@model IEnumerable<AirPlane>
@{






}



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Air Plane</th>
            <th> Uçak ismi</th>


            <th> Aktif Uçuş</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>




    </thead>
    <tbody>




        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AirPlaneID</td>
                <td>
                    @item.AirPlaneName

                </td>

                <td>
                 
                        @item.Flight?.FlyRoute?.Start.Name<p>-</p> @item.Flight?.FlyRoute?.End.Name
                    
                  



                </td>
                @if(item.isAvailable)
                {

                    <td>

                        <p>Aktif</p>


                    </td>

                    <td>



                        <a>Pasif Hale Getir</a>


                    </td>
                }
                else
                {


                    <td>

                        <p>Pasif</p>


                    </td>

                    <td>



                        <a>Aktif hale getir</a>


                    </td>



                }

            </tr>

    

        }














    </tbody>








</table>
