@model IEnumerable<FlyRoute>
@{

    var Flights = ViewBag.Flights as List<Flight>;





}



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Rota ID</th>
            <th>    Nereden</th>


            <th>  Nereye</th>
            <th>Durum</th>
        </tr>




    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="route-row" data-routeid="@item.FlyRouteID">
                <td>@item.FlyRouteID</td>
                <td>
                    @item.Start?.Name

                </td>

                <td>
                    @item.End?.Name



                </td>
                <td>
                    @if (item.isActive)
                    {

                        <p>Aktif</p>
                    }
                    else
                    {
                        <p>Pasif</p>
                    }
                </td>
                <td>
                    @if (item.isActive)
                    {

                        <a href="/Admin/SetPassive/@item.FlyRouteID">Pasif hale getir</a>
                        <a href="/Admin/AddFlight/@item.FlyRouteID">Uçuş Ekle</a>
                    }
                    else
                    {
                        <a href="/Admin/SetActive/@item.FlyRouteID">Aktif hale getir</a>
                    }
                    <a href="/Admin/FlightsById/@item.FlyRouteID">Uçuşlar</a>
                 

                </td>
            </tr>

           
        }
    </tbody>








</table>


