@{
    ViewData["Title"] = "Home Page";
}

<div class="">


    
    <div class="GuzergahSecim p-0 container vertical-grid ">
        <div class="GuzergahHeader grid-item">
            <div class="options h-100 row m-0 border-1 border-success p-0">
                <div  class="col-6   m-0 p-0">
                    <button id="option1" class=" ActiveOption  m-0 h-100 w-100"> Bilet Ara</button>
            </div>
            <div  class="col-6  m-0 p-0 ">
                    <button id="option2" class="  m-0 h-100 w-100"> Check In Yap</button>
            </div>
        </div>
        </div>
        <div class="GuzergahBody container m-0 p-0 grid-item ">
        <div class="content h-100">
            <div id="content1" class="ActiveContent h-100">

                    <div class="row m-0 h-50 input-sizing">
                    <div class=" col-3 border-1 border-dark">


                        <select class="form-select" name="Gidis" id="Gidis">
                            <option selected>Nereden</option>   
                            <option value="01">Adana</option>
                                <option value="48">Mugla</option>
                                <option value="34">İstanbul</option>
                                <option value="35">Ankara</option>
                            </select>


                    
                    </div>
                    <div class=" col-3 border-1 border-dark ">    
                        <select class="form-select" name="Gidis" id="Gidis">
                            <option selected>Nereden</option>   
                            <option value="01">Adana</option>
                                <option value="48">Mugla</option>
                                <option value="34">İstanbul</option>
                                <option value="35">Ankara</option>
                            </select></div>
                    <div class=" col-2 border-1 border-dark  ">  <input type="date" id="birthdate" name="birthdate"></div>
                  
                    <div class=" col-2 border-1 border-dark  ">  <button class="btn simpleButton"> Yolcu</button></div>
                    <div class=" col-2 border-1 border-dark ">  <button class="btn btn-success text-black simpleButton"> Bilet Ara</button></div>

                </div>
            </div>
            <h2 id="content2" class="NonActiveContent">Seçenek 2 İçeriği</h2>
        </div>
        </div>
     



    </div>
    
   

</div>
